.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;

}

.box, .box2 {
    flex-basis: 100px;
    background-color: grey;
    border: 1px solid blue;
}

.box {
    flex-grow: 1;
}

.box2 {
    display: flex;
    gap: 5px;
    justify-content: center;
    flex-grow: 0;
}

.btn {
    width: 20px;
    height: 20px;
    background-color: red;
}